/* CSS Styles */
body{
    background-color: #080808;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #080808;
    justify-content: center;
    padding-top: 30px;
}

.movie-card {
    position: relative;
    width: 22%;
    overflow: hidden;
    margin-top: 15px;
}

.movie-thumbnail {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.movie-info {
    position: absolute;
    bottom: 10px;
    /* Moved lower on the image */
    left: 15px;
    color: #fff;
    /*padding: 5px;*/
    font-family: 'Poppins', sans-serif;
    /* Stylish font */
    text-align: left;
    transition: opacity 0.3s ease;
    background: none;
    /* No background color */
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.973);
    /* Increased shadow effect */
}

.buttons {
    display: none;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.movie-card:hover .movie-thumbnail {
    transform: scale(1.1);
}

.movie-card:hover .buttons {
    display: flex;
}

.btn {
    padding: 5px 10px;
    border: none;
    color: #000;
    /* Black font color */
    background-color: #fff;
    /* White background color */
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    /* Matching font */
}

.btn-book {
    background-color: #fff;
}

.btn-trailer {
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1B1B1B;
}

.header img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    margin: 20px auto;
    box-shadow: white;
}

.search-container i {
    position: absolute;
    left: 10px;
    color: #aaa;
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.search-input:focus {
    outline: none;
    border-color: #333;
}

.fa {
    padding: 20px;
    text-align: center;
    margin: 5px 1px;
    font-size: 2s0px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.footer{
    background-color: #1B1B1B;
    margin-top: 30px;
}

.footer-table{
    width: 80%;
    text-align: left;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    padding-top: 30px;
    padding-left: 250px;
}

.footer-table a{
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.footer-table th{
    color: orange;
    font-size: 13px;
}

.footer-table li{
    list-style-type: none;
}

.boo-ticket-container{
    text-align: center;
    display: flex;
}

.book-ticket-container{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}

.movie-details{
    vertical-align: middle;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    text-align: center
}

.booking-details{
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.movie-details img{
    height: 250px;
    width: 375px;
}
